.main__block {
 	width: 100%;
	max-height: 60px;
	border-top: 1px solid #7D7D7D;
	border-bottom: 1px solid #7D7D7D;
}

.main-block__filter {
	display: flex;
	margin-left: -5px;
}

.main-block-filter__item {
	border: 1px solid #7D7D7D;
 	box-sizing: border-box;
 	border-radius: 4px;
 	margin: 14px 5px;
 	max-width: 164px; 
 	max-height: 32px;
}

.lbl {
	font-size: 14px;
	line-height: 24px;
 	text-align: center;
    color: #7D7D7D;
    margin: 4px 24px; 
}

.main-content {
	max-width: 1180px;
}

.main-content__list {
	width: 1200px;
	margin-top: 40px;
	margin-left: -10px;
	margin-right: 10px;
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap; 
}

.main-content-list__img {
	position: relative;
}

.main-content-list__item {
	position: relative;
	max-width: 280px;
 	margin: 0 10px 5px;
	border-radius: 4px 4px 0px 0px;
}

.main-content-list__benefits {
	font-weight: bold;
 	font-size: 10px;
 	line-height: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
    color: #F75147;
}

.main-content-list__author {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #050505;
}

.main-content-list__countries {
	font-size: 12px;
	line-height: 16px;
	color: #7D7D7D;
}

.main-content-list__line {
	margin: 8px 0; 
	width: 100%;
	height: 1px;
	background: rgba(125, 125, 125, 0.2);
}

.main-content-list__meta {
	margin: 0;
	padding-bottom: 8px; 
	font-size: 12px;
	line-height: 16px;
	color: #7D7D7D;
}

.main-content-list__text {
	font-size: 12px;
	line-height: 16px;
	color: #050505;
}

.main-content-list__link {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #7D7D7D;
}

.main-content-list__icon {
	position: absolute;
	top: 138px;
	left: 232px;
}

.main-content-list__icon2 {
	position: absolute;
	left: 240px;
	top: 147px;
}