.modal {
	position: fixed;
	display: none;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 556px;
	height: 420px;
	background: #ffffff;
	border-radius: 16px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal__logo {
	margin: 20px 193px 0 192px;
}

.modal__text {
	margin: 0 95px 16px 94px;
	max-width: 367px;
	font-size: 14px;
	line-height: 20px;
 	text-align: center;
	color: rgba(125, 125, 125, 0.5);
}

.modal__link {
	color: #F75147;
}

.modal__input {
	width: 320px;
	height: 48px;
	margin: 0 118px 20px;
	background: #FEFEFE;
 	border: 1px solid rgba(125, 125, 125, 0.3);
 	box-sizing: border-box;
 	border-radius: 8px;
}

.modal_btn {
	width: 320px;
	height: 48px;
	margin: 0 118px 54px;
	background: #F75147;
	border-radius: 8px;
	border: 0 solid;
	color: #ffffff;
	font-weight: 500;
 	font-size: 18px;
 	line-height: 24px;
}

.modal__type {
	width: 320px;
	height: 200px;
	border: 1px solid rgba(125, 125, 125, 0.3);
	box-sizing: border-box;
	border-radius: 4px;
}

input[type="checkbox"] {
	display: none;
}

.check {
	padding-left: 19px; 
}

.check::before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 1px solid rgba(125, 125, 125, 0.3); 
	margin-right: 19px;
}

input[type="checkbox"]:checked + .check::before {
 	background-color: #F75147;
}