.modal {
	position: fixed;
	display: none;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 556px;
	height: 420px;
	background: #ffffff;
	border-radius: 16px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal__logo {
	margin: 20px 193px 0 192px;
}

.modal__text {
	margin: 0 95px 16px 94px;
	max-width: 367px;
	font-size: 14px;
	line-height: 20px;
 	text-align: center;
	color: rgba(125, 125, 125, 0.5);
}

.modal__link {
	color: #F75147;
}

.modal__input {
	width: 320px;
	height: 48px;
	margin: 0 118px 20px;
	background: #FEFEFE;
 	border: 1px solid rgba(125, 125, 125, 0.3);
 	box-sizing: border-box;
 	border-radius: 8px;
}

.modal_btn {
	width: 320px;
	height: 48px;
	margin: 0 118px 54px;
	background: #F75147;
	border-radius: 8px;
	border: 0 solid;
	color: #ffffff;
	font-weight: 500;
 	font-size: 18px;
 	line-height: 24px;
}

.modal__type {
	position: absolute;
	top: 150px;
	width: 320px;
	height: 200px;
	background: #ffffff;
	border: 1px solid rgba(125, 125, 125, 0.3);
	box-sizing: border-box;
	border-radius: 4px;
	display: none;
}

.modal__type-checkbox {
	margin: 0 19px 14px 19px;
}

.modal__type-checkbox:before {
	border: 2px solid rgba(125, 125, 125, 0.3);
	mix-blend-mode: normal;
	background-color: white;
	width: 14px;
	height: 14px;
	content: close-quote;
	display: inline-block;
	border-radius: 2px;
}

.check {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #7D7D7D;
}


.modal__type-checkbox:checked:before {
	content: '✔';
	font-size: 16px;
	color: #ffffff;
 	border: 2px solid #F75147;
	mix-blend-mode: normal;
	background-color: #F75147;
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 2px;
}