/* Содержание страницы */

.main-content {
	margin-bottom: 220px;
}

.main-content__block {
	width: 100%;
	max-height: 60px;
	border-top: 1px solid #7D7D7D;
	border-bottom: 1px solid #7D7D7D;
}

.main-content__title {
	font-size: 24px;
	font-weight: bold;
}

.main-content__text {
	max-width: 870px;
	margin-top: 32px;
	font-size: 16px;
 	line-height: 24px;
}

.main-content-block {
	display: flex;
}

.main-content-block__text {
	margin: 32px 130px 0 0;
}

.main-content-block__title {
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	color: rgba(5, 5, 5, 0.8);
}

.main-content-block__link {
	font-size: 16px;
	line-height: 24px;
	color: #050505;
}